<div class="store-carousel" >
  <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide>
      <div class="repeat" ng-repeat="product in products">
        <product-item product=product> </product-item>
      </div>
  </uib-slide>
  </uib-carousel>
</div>

<!--
<div class="store">
     <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
       <uib-slide>
         <div class="repeat" ng-repeat="product in products">
           <product-detail product=product> </product-detail>
         </div>
       </uib-slide>
       <uib-slide>
         <div class="repeat" ng-repeat="product in products">
           <product-detail product=product> </product-detail>
         </div>
       </uib-slide>
     </div>
-->
